absl-py==2.1.0
astunparse==1.6.3
audioread
Brotli
build==1.2.2.post1
cachetools==5.5.0
certifi
cffi
charset-normalizer
click==8.1.7
colorama
contourpy==1.1.1
cycler
decorator
filelock
flatbuffers==24.3.25
fonttools
fsspec
gast==0.4.0
google-auth==2.36.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.68.1
h5py==3.12.1
idna==3.10
importlib_metadata
importlib_resources
jax==0.4.13
Jinja2
joblib
kapre==0.3.7
keras==2.10.0
Keras-Preprocessing==1.1.2
kiwisolver
lazy_loader
libclang==18.1.1
librosa==0.10.2.post1
llvmlite
Markdown==3.7
MarkupSafe
matplotlib==3.9.2
mkl-service==2.4.0
mkl_fft
mkl_random
ml_dtypes==0.5.0
mpmath
msgpack
munkres==1.1.4
networkx
nnAudio==0.3.3
numba==0.60.0
numpy==1.23.5
oauthlib==3.2.2
opt_einsum==3.4.0
packaging
pandas==2.2.3
pillow
pip-tools==7.4.1
platformdirs
pooch
protobuf==3.19.6
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser
Pygments
pyparsing
pyproject_hooks==1.2.0
PySocks
python-dateutil
python_speech_features==0.6
pytorch-pcen @ git+https://github.com/daemon/pytorch-pcen@942c519ad46450ea55cdbfc4afd91d0881927de7
pytz
pywin32==308
requests
requests-oauthlib==2.0.0
resampy==0.4.3
rsa==4.9
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
six
soundfile==0.12.1
soxr
speechbrain==1.0.2
sympy
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.5.0
threadpoolctl
tomli
torch==2.4.1
tornado
tqdm
typing_extensions==4.12.2
tzdata
unicodedata2
urllib3
Wand==0.6.13
wavio==0.0.9
Werkzeug==3.1.3
win-inet-pton
wrapt==1.17.0
zipp
